body {
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    width: 100vw;
    height: 80px;
    background-color: lightblue;
}

.logo {
    padding-top: 5px;
    font-size: 50px;
    position: absolute;
    left: 5%;
    color: white;
}

.button {
    display: none;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    color: black;
    gap: 0 40px;
    height: 40px;
    padding: 0;
}



@media screen and (max-width: 781px) {
    ul {
        flex-direction: column;
        align-items: center;
        height: 300px;
    }

    li {
        display: flex;
        width: 100vw;
        justify-content: center;
        padding: 25px;
    }

    .logo {
        padding-top: 10px;
        transform: translateX(-50%);
        left: 50%;
    }

    .button {
        color: black;
        font-size: 30px;
        display: flex;
        justify-content: end;
        color: black;
        padding-top: 30px;
        padding-right: 20px;
    }

    li:hover {
        background-color: black;
        color: white;
    }
   
}