.square {
    width: 100px;
    height: 100px;
    border : 1px solid black;
    display: inline-block;
    text-align: center;
    line-height: 100px;
}

.d-none {
    /* display: none; */
    background-color: blue;
}
.invisible {
    /* visibility: hidden; */
    background-color: lightblue;
}
.opacity-0 {
    /* opacity: 0.5; */
    background-color: lightcyan;
}
