h1:hover {
    color: red;
}

a:active {
    background-color: blue;
}

input:focus {
    background-color: orange;
}

.stripes {
    color: white;
    background-color: navy;
}
.stripes :nth-child(2) {
    color: black;
    background-color: yellow;
}
.stripes :nth-child(6) {
    color: black;
    background-color: yellow;
}
.stripes :nth-child(10) {
    color: black;
    background-color: yellow;
}

/* 2, 6, 10 대신에 4n+2 로도 표현 할 수 있다.*/
/* .stripes :nth-child(4n+2) {
    color: black;
    background-color: yellow;
} */
