.body {
    margin: 0;
    padding: 0;
}

.ball {
    width: 100px;
    height: 100px;
    background: linear-gradient(to left top, yellow, red);
    border-radius: 50%;
    position: absolute;

    animation-name: ball;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes ball {
    0% {
        transform: translate(0px);
    }

    25% {
        transform: translate(calc(100vw - 100px), 0px);
    }

    50% {
        transform: translate(calc(100vw - 100px), calc(100vh - 100px));
    }

    75% {
        transform: translate(0, calc(100vh - 100px));
    }

    100% {
        transform: translate(0,0);
    }
    
}
/* vw, vh : viewPort 단위. */

.word {
    font-size: 30px;
    position: absolute;

    animation-name: word;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes word {
    to {
        left: 10px;
    }

    from {
        left: 500px;
    }
}