<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project<%= title %></title>
</head>
<body>
    <nav>
        <div>
            <a href="/"><h1>My Blog</h1></a>
        </div>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/create">Create</a></li>
        </ul>
    </nav>

    <div>
        <h1>HOME</h1>
    </div>


    <!-- javascript에 해당되는 각각의 줄에 개별로 <% %> 사용한다. -->
    <!-- <%= 10 - 2 %>
    <%= true ? "참" : "거짓" %>
    <%# 주석입니다.%>

    <% for(let i = 0; i < 5; i++) { %>
        <h1>Hello</h1>
    <% } %> -->
    
</body>
</html>